/* navbar section */
.navbar {
  background-color: rgb(255, 198, 172);
}

/* jumbotron section */
#jumbotron {
  min-height: 100vh;
}

/* footer section */
#footer {
  background-color: rgb(255, 198, 172);
  padding: 20px 0;
}
